[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mixtree"]
	path = mixtree
	url = https://github.com/cygei/mixtree
[submodule "o2ools"]
	path = o2ools
	url = https://github.com/cygei/o2ools
[submodule "pipetime"]
	path = pipetime
	url = https://github.com/cygei/pipetime
